<% layout('layouts/boilerplate') %>
<div id="map" style="width: 100%; height: 500px"></div>
    <h1 class="text-center mb-3">All Camps</h1>
    <%for (let camp of campgrounds){%>
        <div class="container card mb-3 ">
            <div class=" row">
                <div class="col-md-3">
                    <%if(camp.images.length) {%>
                    <img  src="<%=camp.images[0].url%>" class="img-fluid rounded-start" crossorigin="anonymous">
                    <% }else {%>
                        <img class="img-fluid" alt=""
                    src="https://res.cloudinary.com/dsktz2itx/image/upload/v1761373716/YelpCamp/epp0hzpc2cowtgcqm7z0.jpg" crossorigin="anonymous">
                <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=camp.title%>
                        </h5>
                        <p class="card-text ">
                            <%=camp.description%>
                        </p>
                        <p class="card-text"><small class="text-body-secondary">
                                <%=camp.location%>
                            </small></p>
                        <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary">View <%=camp.title%></a>
                    </div>
                </div>
            </div>
        </div>
        <%}%>

<%- "<script>" %>
const maptilerApiKey = "<%- process.env.MAPTILER_API_KEY %>";
const campgrounds = {
  type: "FeatureCollection",
  features: <%- JSON.stringify(
    campgrounds.map(campground => ({
      type: "Feature",
      geometry: campground.geometry,
      properties: { popUpMarkup: campground?.properties?.popUpMarkup }
    }))
  ) %>
};
<%- "</script>" %>

<script src="/javascripts/clusterMap.js"></script>